@import "/variables";

.btn-primary {
  background-color: $background-color !important;
  margin-left: 24px !important;
  margin-right: 24px !important;
  width: calc(100% - 2 * 24px) !important;
}

.btn-info {
  background-color: $info-color !important;
  color: black !important;
  margin-left: 24px !important;
  margin-right: 24px !important;
  width: calc(100% - 2 * 24px) !important;
}

.btn-secondary {
  background-color: #f2f3f5 !important;
  color: $primary-color !important;
  margin-left: 24px !important;
  margin-right: 24px !important;
  width: calc(100% - 2 * 24px) !important;
}

.nav-icon {
  color: $secondary-color;
}

.nav-icon-selected {
  color: $primary-color;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: $primary-color !important;
}

.btn-container-bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 24px;
}

.Slider__dragger::before {
  background: $primary-color !important;
}

.pills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.distance {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.078px;
  margin-left: 10px;
  color: #818c99;
}


/* Google maps*/

.map {
  height: 50vh;
  width: 100%;
}

.pac-container {
}

.pac-icon {
  display: none;
}

.pac-item {
  border-top: none;
  padding: 11px 12px;
}

.pac-container:after {
  content: none;
}

/* Google maps*/

.tab-selected::after {
  background: $primary-color !important;
}

/* Tabs */
.Tabs__in,
.Tabs .HorizontalScroll__in {
  justify-content: space-between;
}

.Tabs--default .TabsItem--selected::after {
  background: $primary-color !important;
}

/* Panel Header */
.PanelHeader {
  .PanelHeader__content span {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000;
  }

  .PanelHeader__separator {
    display: none;
  }
}

.Textarea textarea:focus,
.Textarea textarea:active {
  border-radius: 1px solid $primary-color !important;
}
