.themes-form {
  .title {
    padding-left: 5px;
  }
  .btn-container-bottom {
    padding-left: 0px;
    margin-left: -12px;
    margin-bottom: 12px;
  }
  .pills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
