@import "../../../assets/scss/variables.scss";
.menu-icon {
  margin-left: 25%;
}

.div-icons-menu {
  display: flex;
  justify-content: space-between;
  margin: 0 2em;
  color: $secondary-color
}

.themes-text {
  text-transform: none !important;
  font-weight: 400 !important;

  .themes-orange-text {
    color: $primary-color;
  }
}
