@import "../../../assets/scss/variables.scss";

.button-primary {
  background-color: $background-color !important;
  cursor: pointer;
}

.button-disabled {
  color: $secondary-color;
}

.rc-bottom {
  color: $secondary-color;
  font-weight: 400;
  font-size: 0.8em;
}

.rc-bottom-span {
  margin-left: 2em;
}

.no-events-div {
  text-align: center;
  position: relative;
  top: 25vw;
}
