.completed-intro-panel {
  .btn-primary {
    margin: 15px 0;
  }
  .intro-image {
    text-align: center;
    padding-top: 10px;
    svg {
      width: 100%;
      height: 100%;
      max-width: 370px;
      max-height: 370px;
      @media (max-height: 700px) {
        max-height: 260px;
      }
      @media (max-height: 600px) {
        max-height: 200px;
      }
      @media (max-height: 500px) {
        max-height: 140px;
      }
    }
  }
  .intro-text {
    height: 100%;
    p {
      text-align: center;
    }
    .first-row-text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.38px;
      @media (max-height: 700px) {
        font-size: 18px;
      }
      @media (max-height: 600px) {
        font-size: 16px;
        line-height: 20px;
      }
      @media (max-height: 500px) {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
}
