.geolocation-intro-panel {
  .geo-info {
    padding-top: 30px;
  }
  .geo-first-row {
  }
  .geo-disabled-message {
    font-size: 16px;
    line-height: 20px;
    color: #818c99;
    color: var(--text_placeholder);
    text-align: center;
  }
}
