.hello-intro-panel {
  .title {
    padding-top: 5px;
    text-align: center;
  }
  .intro-group {
    height: 100%;
  }
  .intro-image {
    text-align: center;
    svg {
      width: 60%;
      height: 50%;
      max-width: 370px;
      max-height: 370px;
    }
  }
  .intro-text {
    height: 50%;
    p {
      text-align: center;
    }
    .first-row-text {
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.38px;
    }
    .second-row-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      letter-spacing: -0.154px;
      color: #6d7885;
    }
  }
}
